@import "../node_modules/mapbox-gl/dist/mapbox-gl.css";

.q-locator-map-container {
  width: 100%;
}

.q-locator-map-minimap.mapboxgl-ctrl {
  display: flex;
  margin: 0;
  padding: 8px;
}

.q-locator-map-scale.mapboxgl-ctrl {
  border-bottom-style: solid;
  text-align: center;
}

.q-locator-map-labels {
  margin-top: 8px;
}

.q-locator-map-labels__label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 4px;

  .q-locator-map-labels__icon {
    display: flex;
    align-items: center;
    margin-right: 4px;
  }
}

.q-locator-map-labels--one-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4px;
  margin-left: -8px;
  align-content: center;

  .q-locator-map-labels__label {
    padding-left: 8px;
  }
}

.q-locator-map-attribution {
  margin-top: 4px;
}

.q-locator-map-attribution a,
.q-locator-map-attribution a:visited {
  color: currentColor;
  text-decoration: none;
}
