@import "../node_modules/mapbox-gl/dist/mapbox-gl.css";

.q-locator-map-container {
  width: 100%;
}

.q-locator-map-minimap.mapboxgl-ctrl {
  display: flex;
  filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.2));
  margin: 0;
}

.q-locator-map-labels {
  margin-top: 8px;
}

.q-locator-map-labels__label {
  display: flex;
  flex-direction: row;
  align-items: center;

  .q-locator-map-labels__icon {
    display: flex;
    align-items: center;
    height: 24px;
    width: 24px;
    padding-right: 4px;
  }
}

.q-locator-map-labels--one-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  align-content: center;

  .q-locator-map-labels__label {
    white-space: nowrap;
    padding-left: 8px;
  }
}

.q-locator-map-attribution {
  margin-top: 4px;
}

.q-locator-map-attribution a,
.q-locator-map-attribution a:visited {
  color: currentColor;
  text-decoration: none;
}
