@import "../node_modules/mapbox-gl/dist/mapbox-gl.css";

.q-locator-map {
  opacity: 1 !important;
}

.q-locator-map-container {
  width: 100%;
}

.q-locator-map--minimap {
  filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.2));
}
